html {
  font-size: 15px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Condensed', sans-serif!important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-left: 5px;
  padding-right: 5px;
}
.btn-success {
  background: #069255;
}
.btn-success:hover {
  background: #098e59;
}
.btn:focus {
  box-shadow: none;
}
.btn-outline-success {
  border-color: #069255;
}
.btn-outline-success:hover {
  background: #069255;
}
.table-bordered thead th {
  border-bottom: none;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.input-group-text {
  background-color: #f3f3f3!important;
}
